span {
  display: inline-block;
}

tr[class="read"] {
  background-image: linear-gradient(to right, #d4edda, #a8d5b5);
}

tr[class="to-read"] {
  background-image: linear-gradient(to right, #d1ecf1, #a8d5e2);
}

tr[class="in-progress"] {
  background-image: linear-gradient(to right, #fff3cd, #ffc107);
}

tr[class="to-read"] span[class="status"] {
  border: 2px solid blue;
  background-image: linear-gradient(to right, #d1ecf1, #a8d5e2);
}

tr[class="read"] span[class="status"] {
  border: 2px solid green;
  background-image: linear-gradient(to right, #d4edda, #a8d5b5);
}

tr[class="in-progress"] span[class="status"] {
  border: 2px solid orange;
  background-image: linear-gradient(to right, #fff3cd, #ffc107);
}

span[class="status"], span[class^="rate"] {
  height: 30px;
  width: 80px;
  padding: 5px;
}

span[class^="rate"] > span {
  border: 1px solid #333;
  border-radius: 50%;
  margin: 2px;
  height: 15px;
  width: 15px;
  background-color: gray;
}

span[class~="one"] > span:first-child {
  background-image: linear-gradient(to right, gold, yellow);
}

span[class~="two"] > span:nth-child(-n+2) {
  background-image: linear-gradient(to right, gold, yellow);
}

span[class~="three"] > span {
  background-image: linear-gradient(to right, gold, yellow);
}